div#about-me.full-panel.about-me-panel.hided
	img(src='/images//pages/about_bg_small.jpg' class='center-cropped')
	div.row.panel-title
		h5.center-aligned A LITTLE ABOUT ME
	div.row.container.about-me-content
		div.firstContent
			h6 ﻿Nació en Sagua la Grande, Villa Clara en el año 1972. Graduado del Instituto Provincial de Instructores de Artes (E.P.I.A) de Santa Clara en la especialidad de Práctica de conjunto. Su formación profesional comienza como guitarrista y arreglista en el grupo “Panorama” y en la primera banda de Rock de la ciudad de Santa Clara “Alto Mando” y más tarde como guitarrista en el grupo “Arte Vivo”. Crea la agrupación Stand By como director musical y tecladista, proyecto dentro del ámbito de la música popular bailable e internacional, acompañando diferentes espectáculos de variedades en el polo turístico de Varadero.
		div.secondContent
			h6 En 2005 Martini, integra como guitarrista la agrupación: “Habana Ensemble” dirigida por el saxofonista César López presentándose en importantes festivales de Jazz nacional e internacionales (Colombia, Canadá, Trinidad y Tobago, Islas Caimán, Sur Corea, México, Chile, Japón) y participando como Jurado en el festival Jojazz. Participa desde el cuarto disco hasta el momento en toda la obra discográfica de “Habana Ensemble” como arreglista y compositor, obteniendo varios premios en el evento más importante de la industria del disco cubano CUBADISCO.
	a.go-home-link.waves-effect.waves-light.btn-flat.white-text
		i.material-icons home
