div#contact_us.scrollspy.full-panel
	img(src='/images/pages/contact_bg_small.jpg' class='center-cropped')
	div.dimmer
	div.row.panel-title
		h5.center-aligned Contact Us
	div.row.contact-panel
		form(class="contact-form" method='GET' action='sendEmail')
			div.row
				div.input-field.col.s12.m6
					input(type="text" id='name' name='name' class='validate' required='required')
					label(for='name') Name
				div.input-field.col.s12.m6
					input(type="email" id='email' name='email' class='validate' required='required')
					label(for='email') Email
				div.input-field.col.s12
					textarea(placeholder="Message" name='message' id='message' required='required')
			button(class="contact-submit" type="submit" name="action") Submit


