div#discography.scrollspy.full-panel
	img(src='/images/discography.jpg' class='center-cropped')
	div.dimmer
	div.row.panel-title
		h5.center-aligned My Discography
	div(class='full-carousel carousel carousel-slider center' data-indicators="true")
		div.carousel-item.center.row
			div.col.s12.m6.centered
				audio(class="discography-track" src='/sounds/sample1.mp3' preload='metadata' controls='controls') Your browser does not support the <code>audio</code> element.
				audio(class="discography-track" src='/sounds/sample1.mp3' preload='metadata' controls='controls') Your browser does not support the <code>audio</code> element.
				audio(class="discography-track" src='/sounds/sample1.mp3' preload='metadata' controls='controls') Your browser does not support the <code>audio</code> element.
				audio(class="discography-track" src='/sounds/sample1.mp3' preload='metadata' controls='controls') Your browser does not support the <code>audio</code> element.
				audio(class="discography-track" src='/sounds/sample1.mp3' preload='metadata' controls='controls') Your browser does not support the <code>audio</code> element.
			div.col.m5.hide-on-small-only.centered
				img(class='responsive-img discography-image' src='/images/gallery/four.jpg')
		div.carousel-item.center.row
			div.col.s12.m6.centered
				audio(class="discography-track" src='/sounds/sample1.mp3' preload='metadata' controls='controls') Your browser does not support the <code>audio</code> element.
				audio(class="discography-track" src='/sounds/sample1.mp3' preload='metadata' controls='controls') Your browser does not support the <code>audio</code> element.
				audio(class="discography-track" src='/sounds/sample1.mp3' preload='metadata' controls='controls') Your browser does not support the <code>audio</code> element.
				audio(class="discography-track" src='/sounds/sample1.mp3' preload='metadata' controls='controls') Your browser does not support the <code>audio</code> element.
				audio(class="discography-track" src='/sounds/sample1.mp3' preload='metadata' controls='controls') Your browser does not support the <code>audio</code> element.
			div.col.m6.hide-on-small-only.centered
				img(class='responsive-img discography-image' src='/images/disc1.jpg')
