div#events.scrollspy.full-panel
	div.row.panel-title
		h5.center-aligned Events
	div(class='full-carousel carousel carousel-slider center' data-indicators="true")
		div.carousel-item.center.row
			div.col.l3.m4.s6
				div.card
					div.card-image.waves-effect.waves-block.waves-light
						img(class="activator" src="/images/disc1.jpg")
			div.col.l3.m4.s6
				div.card
					div.card-image.waves-effect.waves-block.waves-light
						img(class="activator" src="/images/disc1.jpg")
			div.col.l3.m4.s6
				div.card
					div.card-image.waves-effect.waves-block.waves-light
						img(class="activator" src="/images/disc1.jpg")
			div.col.l3.m4.s6
				div.card
					div.card-image.waves-effect.waves-block.waves-light
						img(class="activator" src="/images/disc1.jpg")
			div.col.l3.m4.s6
				div.card
					div.card-image.waves-effect.waves-block.waves-light
						img(class="activator" src="/images/disc1.jpg")
			div.col.l3.m4.s6
				div.card
					div.card-image.waves-effect.waves-block.waves-light
						img(class="activator" src="/images/disc1.jpg")
