div#gallery.scrollspy.full-panel
	img(src='/images/gallery.jpg' class='center-cropped')
	div.dimmer
	div.row.panel-title
		h5.center-aligned Gallery
	div(class='full-carousel carousel carousel-slider center' data-indicators="true")
		div.carousel-item.center.row
			div.col.s12.centered
				div.gallery-img
					img(src='/images/gallery/one.jpg' class="materialboxed")
				div.gallery-img
					img(src='/images/gallery/two.jpg' class="materialboxed")
				div.gallery-img
					img(src='/images/gallery/three.jpg' class="materialboxed")
				div.gallery-img
					img(src='/images/gallery/four.jpg' class="materialboxed")

