div#gallery.scrollspy.full-panel
	img(src='/images/pages/gallery_bg_small.jpg' class='center-cropped')
	//div.dimmer
	div.row.panel-title
		h5.center-aligned Gallery
	div(class='full-carousel carousel carousel-slider center' data-indicators="true")
		div.carousel-item.center.row
			div.col.s12.centered
				div.gallery-img
					img(src='/images/gallery/gallery_2.jpg')
				div.gallery-img
					img(src='/images/gallery/gallery_1.jpg')
				div.gallery-img
					img(src='/images/gallery/gallery_3.jpg')
				div.gallery-img
					img(src='/images/gallery/gallery_4.jpg')
	a(class="waves-effect waves-light btn-flat go-home-btn hide-on-small-only" href='#header')
		i.material-icons.medium home

