div#header.scrollspy.full-panel
	img(src='/images/pages/home_bg_small.jpg' class="center-cropped")
	include navbar
	div.brand-name
		h1 Emilio Martini
		div.row.center-align
			h4.col.s4 COMPOSER
			h4.col.s4 GUITARIST
			h4.col.s4 PRODUCER
	button.about-me-link.waves-effect.waves-light.btn-flat.white-text About me
		i.material-icons.right keyboard_arrow_right
