div#header.scrollspy.full-panel
	img(src='/images/pages/home_bg_small.jpg' class="center-cropped")
	include navbar
	div.brand-name
		h1 Emilio Martini
		div.row.center-align.sub-header
			h6.col.s4 COMPOSER
			h6.col.s4 GUITARIST
			h6.col.s4 PRODUCER
	button#news.btn-large.btn-flat.waves-effect.waves-light.white-text.info-news News
		i.material-icons.left new_releases
	button.btn-large.btn-flat.waves-effect.waves-light.btn-flat.white-text.about-me-link About me
		i.material-icons.right keyboard_arrow_right
	div.social-icons-container-right-vertical
		a(class="social-icons" href="https://www.facebook.com/emiliomartini.cubaguitar" target='_blank')
			img(src="/images/assets/facebook.svg")
		a(class="social-icons" href="https://www.instagram.com/emiliomartini.guitar/" target='_blank')
			img(src="/images/assets/instagram.svg")
		a(class="social-icons" href="https://www.youtube.com/user/reycubass" target='_blank')
			img(src="/images/assets/youtube.svg")
