link(rel='stylesheet' href='/stylesheets/components/navbar.css')
nav.navbar.z-depth-0
	div.nav-wrapper
		a(class="button-collapse hide-on-med-and-up" href="#" data-activates="sideNav")
			i.material-icons menu
		ul.hide-on-small-only.centered-nav
			li
				a(href='/home') home
			li
				a(href='#discography') discography
			//li
			//	a(href='#events') events
			li
				a(href='#gallery') gallery
			li
				a(href='#contact_us') contact us
		ul(class='side-nav' id='sideNav')
			li
				a(href='/home') home
			li
				a(href='#discography') discography
			//li
			//	a(href='#events') events
			li
				a(href='#gallery') gallery
			li
				a(href='#contact_us') contact us
	script.
		$(".button-collapse").sideNav();
