div.slide-indicator
    ul
        li
            a(href='#header')
                i.material-icons lens
        li
            a(href='#discography')
                i.material-icons lens
        li
            a(href='#events')
                i.material-icons lens
        li
            a(href='#gallery')
                i.material-icons lens
        li
            a(href='#contact_us')
                i.material-icons lens

