div.slide-indicator.hide-on-small-only
    ul
        li
            a(href='#header' class="tooltipped" data-position="left" data-delay="50" data-tooltip="Home")
                i.material-icons lens
        li
            a(href='#discography' class="tooltipped" data-position="left" data-delay="50" data-tooltip="Discography")
                i.material-icons lens
        //li
        //    a(href='#events')
        //        i.material-icons lens
        li
            a(href='#gallery' class="tooltipped" data-position="left" data-delay="50" data-tooltip="Gallery")
                i.material-icons lens
        li
            a(href='#contact_us' class="tooltipped" data-position="left" data-delay="50" data-tooltip="Contact")
                i.material-icons lens

