extends layout

block content
	main
		include components/about_me
		include components/header
		include components/discography
		//include components/events
		include components/gallery
		include components/contact_us
		include components/slide_indicator
	script(src='/javascripts/main.js')
