extends layout

block content
	main
		a(class="button-collapse hide-on-med-and-up" href="#" data-activates="sideNav")
			i.material-icons menu
		include components/about_me
		include components/header
		include components/discography
		//include components/events
		include components/gallery
		include components/contact_us
		include components/slide_indicator
	script(src='/javascripts/main.js')
