doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title= title
		link(rel="stylesheet", href="/fonts/material-icons/Material-Icons.css")
		link(rel='stylesheet', href='/node_modules/materialize-css/dist/css/materialize.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/node_modules/jquery/dist/jquery.min.js')
		script(src='/node_modules/materialize-css/dist/js/materialize.min.js')
		script(src='/node_modules/mediaelement/build/mediaelement-and-player.min.js')
		//link(rel='stylesheet', href='/node_modules/mediaelement/build/mediaelementplayer.min.css')
		link(href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet")
	body
		block content
